<link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css">

<h3>Add Category</h3>
<% if(messages.error) { %>
<div class="alert alert-danger" style="<%= messages.error ? 'margin-top:20px;' : 'display: none' %>"><strong><%= messages.error ? messages.error[0] : '' %></strong></div>
<% } %>

<% if(messages.success) { %>
  <div class="alert alert-success" style="<%= messages.success ? 'margin-top:20px;' : 'display: none' %>"><strong><%= messages.success ? messages.success[0] : '' %></strong></div>
  <% } %>
<br>
<form id="frmAddCategory" method="Post" action="/category/save">
  <div class="form-group">
    <label for="category">Category Name:</label>
    <input type="text" name="categoryName" class="form-control" id="categoryName" required="required">
  </div>
  <!-- <div class="form-group">
    <div class="row">
      <div class="col-sm-11">
        <label for="subCategory">Sub Categories:</label>
        <input type="text" class="form-control" id="subCategory">
      </div>
      <div class="col-sm-1">
        <button id="addBox" style="margin-top:18px;" class="btn"><i class="fa fa-plus"></i></button>
      </div>
    </div>
  </div> -->
  <div class="form-group">
    <label for="desc">Description:</label>
    <textarea name="categoryDesc" class="form-control" rows="5" id="categoryDesc"></textarea>
  </div>
  <button type="submit" class="btn btn-success">Submit</button>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#categoryModal">View</button>
</form>

<!-- Modal -->
<div id="categoryModal" class="modal fade" role="dialog" style="margin-top:100px;">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Category List</h4>
      </div>
      <div class="modal-body">

                        <table class="table table-responsive table-bordered" style="width:100%" id="category-list-table">
                            <thead>
                            <tr>
                                <td>S.N.</td>
                                <td>Category Name</td>
                                <td>Category Description</td>
                                <td>Action</td>
                            </tr>
                            </thead>
                            <tbody>
                            <% category.forEach(function(category, i) { %>
                            <tr>
                                <td><%= i + 1 %></td>
                                <td><%= category.categoryName ? category.categoryName : 'No data' %></td>
                                <td><%= category.categoryDesc ? category.categoryDesc : 'Not Set' %></td>
                                <td>
                                  <a href="/category/delete/<%= category._id %>"><button class="btn btn-default btn-xs" data-title="Delete"><span class="glyphicon glyphicon-remove"></span></button></a>
                              </td>
                            </tr>
                              <% }); %>
                            </tbody>
                        </table>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>
<script>
    $(document).ready(function() {
        $('#category-list-table').DataTable();
    });
</script>
